<html>
    <head>
        <title> ISSAT Schedules</title>
    </head>
    <body>
        <div>
            <div>
                <form action="schedule" method="POST">
                    {% csrf_token %}
                    <center>   
                        {{ form }}
                        <br>
                        <br>
                        <br>
                        <center><input type="submit" value="Submit"></center>
                    </center>
                </form>
                {{ done }}
            </div>
            <br>
            <br>
            <br>
            <a href="/check_available_classrooms_form"><button>Check Available Classrooms</button></a>
            <a href="/check_classroom_availability"><button>Check Classroom availability</button></a>
            <a href="/update_schedules"><button>Update Schedules</button></a>
        </div>
</body>
</html>